@page "/agenda"
@using System.Globalization
@using CalendarView.Core.ViewModels
@using CalendarView.Services.Music.Interfaces
@using CalendarView.Shared.Components
@using CalendarView.Shared.Models
@using CalendarView.Shared.Resources
@using Common.UI.Extensions
@using Microsoft.Extensions.Logging
@using Microsoft.AspNetCore.WebUtilities;
@using static CalendarView.Shared.Utils.CommonFunctions
@inject CalendarViewModel CalendarViewModel
@inject Design Design
@inject ILogger<Agenda> Logger
@inject NavigationManager Navigation
@inject IMusicService MusicService

<PageTitle>Calendar</PageTitle>

<SideImageAndBackgroundLayout ImageWidth="2" ContentWidth="3" ShowImage="@ShowImage" ShowBackgroundImage="@ShowBackgroundImage" DifferentiatedDesign="@DifferentiatedDesign">
	<div style="height: 100%; padding: 10px;">
		@{
			InitCalendarParams(CalendarViewModel.Events, out var events, out var startDay, out var endDay, out var today, out var yesterday, out var tomorrow);
			var lastMonth = startDay.ToLongMonthString(Design.LongMonthFormat, CurrentCulture);
		}
		@for (var day = startDay; day <= endDay; day = day.AddDays(1))
		{
			var currentMonth = day.ToLongMonthString(Design.LongMonthFormat, CurrentCulture);

			if (currentMonth != lastMonth)
			{
				lastMonth = currentMonth;
				<div style="padding-top: 20px;">
					<a style="font-size: 40px; font-weight: 600;">@currentMonth</a>
				</div>
			}

			InitCalendarParamsForDay(events, day, today, tomorrow, yesterday, CurrentCulture, Design.LongDayFormat, out var todaysEvents, out var allDayEvents, out var normalDayEvents, out var currentDayName);

			@if (todaysEvents.Count <= 0) continue;

			<div>
				<a style="font-size: 40px; font-weight: 400;">@day.Day</a>
				<a style="font-size: 30px; padding-left: 10px;">@currentDayName</a>
			</div>

			@if (todaysEvents.Count <= 0)
			{
				<div>
					<a colspan="4">>@Translations.ResourceManager.GetString(nameof(Translations.NoEvents), CurrentCulture)</a>
				</div>
			}

			@if (allDayEvents.Count > 0)
			{
				<div class="flow-grid-container" style="margin: 5px;">
					@foreach (var ev in allDayEvents.OrderBy(ev => ev.Start))
					{
						var (backColor, dimBackColor, foreColor, dimForeColor) = GetColorsOfCalendar(ev, Design.EventCardDimmingRatio);

						<DetailedEventCard Event="@ev" StripeColor="@backColor" BackgroundColor="@dimBackColor" ForeColor="@foreColor" DimForeColor="@dimForeColor" />

						Logger.LogDebug("Added all day event '{name}' of calendar '{calendar}' with color {backColor}", ev.Name, ev.Calendar.Name, backColor.ToHex());
					}
				</div>
			}

			@if (normalDayEvents.Count > 0)
			{
				<div style="margin: 5px; @(allDayEvents.Count > 0 ? "margin-top: 15px;" : string.Empty)">
					@foreach (var ev in normalDayEvents.OrderBy(ev => ev.Start))
					{
						var (backColor, dimBackColor, foreColor, dimForeColor) = GetColorsOfCalendar(ev, Design.EventCardDimmingRatio);

						<DetailedEventCard Event="@ev" StripeColor="@backColor" BackgroundColor="@dimBackColor" ForeColor="@foreColor" DimForeColor="@dimForeColor" Style="margin-bottom: 10px;" />

						Logger.LogDebug("Added event '{name}' of calendar '{calendar}' with color {backColor}", ev.Name, ev.Calendar.Name, backColor.ToHex());
					}
				</div>
			}
		}
	</div>
</SideImageAndBackgroundLayout>

<NotificationArea Notifications="@CalendarViewModel.Notifications"></NotificationArea>

@code {
	private CultureInfo CurrentCulture => new(Design.Language);
	private DifferentiatedDesign DifferentiatedDesign => Design.GetDesign(
		PageLayoutTranslation.Translations.FirstOrDefault(t => t.Value.ShowBackgroundImage == ShowBackgroundImage && t.Value.ShowImage == ShowImage).Key);

	[Parameter] public bool ShowImage { get; set; }

	[Parameter] public bool ShowBackgroundImage { get; set; }

	protected override async Task OnInitializedAsync()
	{
		Logger.LogInformation("Started initialization");

		var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
		var queryParameters = QueryHelpers.ParseQuery(uri.Query);
		if (queryParameters.TryGetValue(key: nameof(PageLayoutTranslation.ShowBackgroundImage),
				value: out var showBackgroundImage))
		{
			ShowBackgroundImage = bool.TryParse(showBackgroundImage, out var showImage) && showImage;
			Logger.LogInformation("{paramName}={value}", nameof(PageLayoutTranslation.ShowBackgroundImage), ShowBackgroundImage);
		}
		if (queryParameters.TryGetValue(key: nameof(PageLayoutTranslation.ShowImage),
			    value: out var showSideImage))
		{
			ShowImage = bool.TryParse(showSideImage, out var showImage) && showImage;
			Logger.LogInformation("{paramName}={value}", nameof(PageLayoutTranslation.ShowImage), ShowImage);
		}
		CalendarViewModel.RefreshedCalendars += async (_, _) => await InvokeAsync(StateHasChanged);

		CalendarViewModel.StartRefreshTimer();
		if (!MusicService.IsRunning) await MusicService.Start();

		await InvokeAsync(StateHasChanged);
		Logger.LogInformation("Finished initialization");
	}
}